

@{
    ViewData["Title"] = "Index";
}
@model List<CountryWithCountryBordersDto>
<a class="btn btn-primary" asp-controller="Countries" asp-action="Save">Save a Country</a>
    <table class="table table-striped">
        <thead>
            <tr>
            <td>Id</td>
            <td>Country</td>
            <td>CreatedDate</td>
            <td>Actions</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
               <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CountryBorders</td>
                    <td>@item.CreatedDate</td>
                  
                     </tr>
            }

        </tbody>



    </table>
